parameters:
	ignoreErrors:
		-
			message: '#^Method App\\Models\\Account\:\:latestValuation\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Models/Account.php

		-
			message: '#^Class App\\Models\\Household uses generic trait Illuminate\\Database\\Eloquent\\Factories\\HasFactory but does not specify its types\: TFactory$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/Household.php

		-
			message: '#^Method App\\Models\\Household\:\:getCustomColumns\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Models/Household.php

		-
			message: '#^Method App\\Models\\Household\:\:getInternal\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Models/Household.php

		-
			message: '#^Method App\\Models\\Household\:\:getTenantKey\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Models/Household.php

		-
			message: '#^Method App\\Models\\Household\:\:run\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Models/Household.php

		-
			message: '#^Method App\\Models\\Household\:\:setInternal\(\) has parameter \$value with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/Household.php

		-
			message: '#^Method App\\Models\\InventoryItem\:\:latestValuation\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Models/InventoryItem.php

		-
			message: '#^Method App\\Models\\Property\:\:latestValuation\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Models/Property.php

		-
			message: '#^Method App\\Models\\Vehicle\:\:latestValuation\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Models/Vehicle.php

